body {
    background-color: MediumSlateBlue;
    display: flex;
    flex-direction: column;
  }
 
 
  
  #rules{
      width:fit-content;
      height: fit-content; 
      margin: auto;
      background: rgb(227, 218, 174);
      background-size: cover;
      border-radius: 10px;
      display: flex;
      justify-content: space-around;
      position: absolute;
      z-index: 1;
      align-self: center;
  }
  .common{
    padding: 5%;
  }
  .title{
      display: block;
      text-align:center;
      font: black;
      font-weight: 900;
      font-size: 20px;
      font-weight: 600;
      background: #ffffff;
   }

   #ps {
    text-align: center;
   }
  
  .btn{
      display: block;
      width: auto;
      margin: 0 auto;
      margin-top: 10px;
      border-radius: 10px;
      height: 35px;
      border: none;
      cursor: pointer;
  }

  .knopki {
    display: flex;
    align-items: baseline;
    
  }
    canvas {
    border: 1px solid black;
    background-color: #f4f4f4;
    border-radius: 5px;
    width: 950px;
    height: 750px;
    margin: auto;
    }

    #schet {
      text-align: center;
    font-size: x-large;
    }
    #vremya {
      text-align: center;
    font-size: x-large;
    }
